
.show-page {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 5%;
    z-index: 200;
    width: 600px;
    height: 650px;
    /* border: solid #289458 4px; */
    box-shadow:1px 2px 1px black;
    border-radius: 4px;
    margin: 0 auto auto 400px;
    background: white;
}

.id-title {
    margin: auto;
    /* border: black solid 2px; */
    padding-top: 0px;
}

#id-name {
    text-align: center;
    /* padding: 10px; */
    font-size: 48px;

}

.identity-image {
    margin: 2px auto;
    width: 70%;
    
}

.id-details {
    text-align: center;
    margin-bottom: 5px;
    margin-top: 3px;
    font-size: 1.3rem;
}


.id-this-week {
    display: flex;

    margin: 0px auto;
    margin-top: 30px;
    text-align: center;
}

.id-rate {
    margin: auto;
    text-align: center;
    font-size: 1.5rem;
 }
 .update-id-button {
    width: 50px;
    height: 50px;
    border-radius: 4px;
    position: relative;
    top: 20px;
 }
 .delete-id-button {
     background: red;
     position: absolute;
     bottom: 5px;
     right: 5px;
     width: 70px;
     height: 40px;
     font-weight: bold;
 }