@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Assistant&family=Raleway:ital,wght@1,500&display=swap");

.signup-container {
    display: flex;
    justify-content: center;
}

.signup-form {
    background: white;
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 400px;
    border: gray solid 1px;
    box-shadow: 1px 2px 2px rgba(0,0,0,.3);
    border-radius: 5px;
    align-items: center;
}
.signup-container h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 2.5rem;
    color: #153b15;
    /* border: black solid 1px */
}

.signup-input {
    padding-top: 15px;
    text-align: center;
    margin-top: 10px;
    width: 70%;
    font-size: 1.2rem;
}

.signup-submit-button {
    margin-top: 10px;
    width: 150px;
    height: 30px;
    border-radius: 20px;
}