body {
    background-color: white;
}

.home {
    display: grid;
    justify-items: center;
    
}
.grid {
    width: 1200px;
    display: grid;
    grid-template: auto / 1fr 1fr 1fr;
    grid-gap: 10%;    
}
